html {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    bottom: 0%;
    overflow: auto;
}

body {
    background-image: linear-gradient(to bottom right,aqua, hotpink);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin: 0;
    padding: 0;
    bottom: 0;
    overflow: auto;
}

header {
    color:gold;
    border-style:ridge;
    border-color: black;
    /* position: absolute; */
    text-decoration: none;
    list-style-type: none;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    align-content: center;
    vertical-align: middle;
    background-image:linear-gradient(blueviolet, aqua);
    color: white;
    display: inline-grid;
    height: 15%;
    width: 100%;
    grid-template:
        "leftnav h1 rightnav" ;
    grid-template-columns: 20% 60% 20%;


}

header h1 {
    color: gold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 400%;
    grid-area: h1;
    text-align:center;
    vertical-align: middle;
    line-height: 140%;
    margin: 0;
}

#leftnav {
    grid-area: leftnav;
    text-decoration: none;
    list-style-type: none;
}

#rightnav {
    text-align: right;
    grid-area: rightnav;
    text-decoration: none;
    list-style-type: none;
    margin-right: 20px;
}

header nav ul {
    text-decoration: inherit;
    list-style-type: none;
}

.container {
    /* position:fixed; */
    top: 16%;
    height: 100%;
    width: 100%;
    bottom: 0;
    background-color: inherit;
}

.home {
    top: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content:flex-start;
    vertical-align: middle;
}

#text1 {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 40%;
    text-align: center;
    border-style:outset;
    border-color: black;
    justify-content: center;
}

#image1 {
    width: 100%;
    height: 100%;
    border-style:outset;
    border-color: black;
}

#image2 {
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    border-style:outset;
    border-color: black;
    /* overflow: hidden; */
}

#text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 39%;
    height: 40%;
    border-style:outset;
    border-color: black;
    vertical-align: middle;
}

footer {
    background-color: inherit;
}

#image2_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 60%;
    height: 40%;
    background-color: inherit;
    border-style: outset;
}

#image1_container {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    height: 40%;
    background-color: inherit;
}

#noslow {
    width: 100%;
    height: 5px;
}

.show_list_container {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.show_list {
    width:260px;
    display: flex;
    border-style: outset;
    border-color: black;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 16px;
    line-height: 7px;
    text-align: center;
}

.page_heading {
    text-align: center;
}

input {
    width: auto;
}

.show_list > div {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form_page {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#show_all {
    flex-direction: column;
    align-content: center;
    margin: 10px;
    height: auto;
}

.headliner {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}