{% extends "base.html" %}

{% block content %}

<section class="home">
    <div id="text1">
        <h1>Feel It Day And Night</h1>
        <h3>Do you really wanna work it out?</h3>
        <p>Because we don't take it slow.</p>
        <p>Your workout!</p>
        <p>Your delight!</p>
    </div>
    <img id="image1" src="{{url_for('static', filename='eskimo-callboy-pump-it-video-youtube-03-2021-scaled.jpg')}}">

    <div id="text2">
        <h1>Time to activate beast mode?</h1>
        <h2>Get your PUMP IT! Bundle today!</h2>
        <p>Side effects include anabolic dominance and POWERFUL PHEROMONE</p>
        
    </div>
        
    <img id="image2" src="{{url_for('static', filename='pump_it_bundle.jpeg')}}">

</section>

{% endblock %}